/*· Vincular estilo.css a HTML

· Haz que el color de fondo sea gris.

· Hacer h3 color verde

· Haz una clase para aplicar el color azul a tres h3

· Haz un h3 de color rojo.*/
body {
  background-color: rgb(139, 139, 139) ;

}

.verde {
  color: rgb(28, 164, 28)
}

.Azul {
  color: blue;
}

.rojo {
  color: red;
}

img {
  float: center;
  width:  500px;
  height: 500px;
  object-fit: cover;
}

h5:hover {
  cursor: pointer;
  font-size: 22px;
  transition: .2s;
}

